.warpper>.main-panel>.navbar{
    background: #3e8f1c;
}
.warpper> .main-panel .navbar-toggle .navbar-toggler-bar{
    background-color: #3e8f1c;
}
.warpper> .main-panel .navbar .navbar-nav li > a{
    background: #3e8f1c;
    color: rgb(105, 10, 215);
}
#form-atendimento>.input-group{
    background-color: rgba(120, 12, 12, 0.7);
}